<% provide :title, t("user.all_user") %>
<p>
  <h1><%= t "user.all_user" %>
  (<%= @users.count %>)</h1>
</p>
<p>
  <%= link_to t("user.create_new"), new_admin_user_path,
    class: "btn btn-success" %>
</p>
<%= render @users %>
<%= will_paginate %>
